[submodule "common_core"]
	path = common_core
	url = git@github.com:MM1212/42common_core.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:MM1212/minishell.git
[submodule "cub3d"]
	path = cub3d
	url = git@github.com:diogodiasgrilo/Cub3d_42.git
[submodule "webserv"]
	path = webserv
	url = git@github.com:MM1212/webserv.git
[submodule "libft"]
	path = libft
	url = git@github.com:MM1212/42-libft.git
[submodule "ft_ls"]
	path = ft_ls
	url = git@github.com:MM1212/ft_ls
[submodule "libasm"]
	path = libasm
	url = git@github.com:MM1212/libasm
[submodule "malloc"]
	path = malloc
	url = git@github.com:MM1212/malloc.git
[submodule "cloud-1"]
	path = cloud-1
	url = git@github.com:MM1212/cloud-1.git
[submodule "ft_transcendence"]
	path = ft_transcendence
	url = https://github.com/MM1212/ft_transcendence
